html
	head
		link(rel="stylesheet" href="/css/bootstrap.min.css")
	body
		include navbar
		hr
		hr
		hr
		hr

		.container
			.row
				.col-xs-4
					p=query
				.col-xs-8
					h2= user.lastname
					//- h3= foundUser.firstname
					//- p= foundUser.email
