html
  head
  body(padding-top="70px")
    include ../navbar
    hr
    hr
    hr
    hr
    .container
      h1 Search results
      .row
        //- each user in users
        //-   .col-xs-3
        //-     h2= user.lastname
        //-     h3= user.firstname
        //-     p= user.email
