html
  head
  body
    include ../navbar
    hr
    hr
    hr
    hr
    .container
      h1 Users
      .row
        //- each user in users
        //-   .col-xs-3
        //-     h2= user.lastname
        //-     h3= user.firstname
        //-     p= user.email
        //-
        //-     button(type="button" id="delete" class="btn btn-danger btn-xs") Delete
